# Ignore the local data folder
slr_env/
Michael_Tesis_Group 2_AI700-001_BK_SPRG2026_Proposal_PPT 2.pptx.ppt
Figure_1.png
Figure_2.png
Figure_3.png
Figure_4.png
AI700-001-IEEE-conference-template-letter-Midterm.docx
data/
Michael Tesis_Group 2_AI700-Spring-2026_Code.zip